.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
*.cert
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

.vscode/
.vscode-test/
.idea/
*.suo
*.sln
*.sw?
.sublime-workspace
.sublime-project

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
jspm_packages/
.npm/

dist/
build/
.out/

CARA_RUN.txt